//fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
$fontFamily: 'Poppins', sans-serif;
// colors
$primaryColor: #002954;
$secondaryColor: #ff9100;
$textColor: #161617;
$accentColor: #2d2e32;
$whiteColor: #fff;
$greyColor: #f1f1f1;
